<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col s12 l4 offset-l2">
    <div class="field">
      <%= f.hidden_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :bedroom %><br>
      <%= f.number_field :bedroom %>
    </div>
    <div class="field">
      <%= f.label :bathroom %><br>
      <%= f.number_field :bathroom %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :square_footage %><br>
      <%= f.number_field :square_footage %>
    </div>
  </div>

  <div class="col s12 l4 optional">
    <div class="field">
      <%= f.label :furnished %>
      <%= f.check_box :furnished %>
    </div>
    <div class="field">
      <%= f.label :pets %><br>
      <%= f.check_box :pets %>
    </div>
    <div class="field">
      <%= f.label :smoking %><br>
      <%= f.check_box :smoking %>
    </div>
    <div class="field">
      <%= f.label :parking_space %><br>
      <%= f.check_box :parking_space %>
    </div>
    <div class="field">
      <%= f.label :storage_space %><br>
      <%= f.check_box :storage_space %>
    </div>
    <div class="field">
      <%= f.label :balcony %><br>
      <%= f.check_box :balcony %>
    </div>
    <div class="field">
      <%= f.label :floor_number %><br>
      <%= f.number_field :floor_number %>
    </div>
    <div class="field">
      <%= f.label :available_date %><br>
      <%= f.date_select :available_date %>
    </div>
    <div class="field">
      <%= f.label :minimum_lease %><br>
      <%= f.number_field :minimum_lease %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image, multiple: true, name: "listing_images[image][]"  %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image, multiple: true, name: "listing_images[image][]" %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :rental_type %><br>
      <%= f.text_field :rental_type %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="col s12 l4 offset-l4 center">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
