<p id="notice"><%= notice %></p>

<div class="row listings-index">
  <div class="col l7 s12 listings">
    <div class="sub-nav">
      <%= form_tag "/listings/search", id: "filter_form", method: "get" do %>
        
      <!-- testing -->

          <!--   <div id="dd2" class="wrapper-dropdown wd2">Number of Bedrooms
            <ul class="dropdown">
            </ul>
          </div> -->

      <!-- testing -->


        <div class="filters-section row">

          <ul class="col l12 m12 s12">
            <li><%= label_tag(:min_price, "Price") %></li>
            <li><%= text_field_tag(:min_price, nil, placeholder: "Min") %></li>
            <li><%= text_field_tag(:max_price, nil, placeholder: "Max") %></li>
          </ul>
        </div>

        <div class="filters-section row">
          <div class="col l6 m6 s12">
             <ul>
              <li><%= label_tag(:number_of_bedrooms, "Number of Bedrooms") %></li>
              <li><%= text_field_tag(:number_of_bedrooms) %></li>
            </ul>
          </div>
        
          <div  class="col l6 m6 s12 component">
            <ul>
              <li><%= select_tag(:rental_type, options_for_select([["Full Lease"], ["Sublet"], ["Room"]]), {:prompt => 'Rental Type'}) %></li>
            </ul>
          </div>
        </div>

      <!-- testing -->
    
        <div id="dd" class="wrapper-dropdown">Additional Filters
          <ul class="dropdown">
          <li><%= check_box_tag(:pets) %><%= label_tag(:pets, "Pets Allowed") %></li>
          <li><%= check_box_tag(:parking) %><%= label_tag(:parking, "Parking Included") %></li>
          <li><%= check_box_tag(:smoking) %><%= label_tag(:smoking, "Smoking Allowed") %></li>
          <li><%= check_box_tag(:furnished) %><%= label_tag(:furnished, "Fully-Furnished") %></li>
          <li><%= check_box_tag(:storage) %><%= label_tag(:storage, "Storage Included") %></li>
          </ul>
        </div>

      <!-- testing -->

        <div class="filters-section row"> 
          <ul class="col s12">
            <li><%= submit_tag "Apply Filters", :class => "submit" %></li>
            <% if @city %> 
              <%= hidden_field_tag(:city, @city) %> 
            <% end %> 
          </ul>
        </div>
        
      <% end %> 
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Address</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="listing_results">
        <% @listings.each do |listing| %>
          <tr data-listing-id="<%=listing.id%>" class="listingDiv">
              <div>
                <td><%= link_to "#{listing.title}", listing_path(listing.id) %></td>
                <td><%= listing.price %></td>
                <td class="address"><%= listing.address %></td>
                <td>
                <% listing.listing_images.each do |array| %>
                  <%= image_tag(array.image.thumb) %>
                <% end %>
                </td>

                <td> 
                <% if current_user %> 
                  <%= set_favourite_class(current_user.id, listing.id) %>
                <% end %> 
                </td>
                
                <% if @current_user == listing.user_id %>
                  <td>  <%= link_to 'Edit', edit_listing_path(listing.id) %></td>
                  <td><%= link_to 'Destroy', listing_path(id: listing.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>

              </div>

          </tr>
        
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col l5 s12 map">
    <div id="map" class="fixed"></div>
    </div>
  </div>
