<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>
<div id="filtered_search">
  <%= form_tag "/listings/search", :id => "filter_form", method: "get" do %>
  <%= label_tag(:min_price, "Min") %>
  <%= text_field_tag(:min_price) %>
  <%= label_tag(:max_price, "Max") %>
  <%= text_field_tag(:max_price) %>
  <%= label_tag(:number_of_bedrooms, "Number of Bedrooms") %>
  <%= text_field_tag(:number_of_bedrooms) %>
  <%= label_tag(:rental_type, "Rental Type") %>
  <%= select_tag(:rental_type, options_for_select([["Full Lease"], ["Sublet"], ["Room"]]), {:prompt => 'Select Rental Type'}) %>

  <%= label_tag(:pets, "Pets Allowed") %>
  <%= check_box_tag(:pets) %>
  <%= label_tag(:parking, "Parking") %>
  <%= check_box_tag(:parking) %>
  <%= label_tag(:smoking, "Smoking") %>
  <%= check_box_tag(:smoking) %>
  <%= label_tag(:furnished, "Furnished") %>
  <%= check_box_tag(:furnished) %>
  <%= label_tag(:storage, "Storage") %>
  <%= check_box_tag(:storage) %>

  <%= submit_tag("Apply Filters") %>
  <% if @city %> 
    <%= hidden_field_tag(:city, @city) %> 
  <% end %> 
  <% end %> 
</div>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Price</th>
      <th>Address</th>
      <th>Available date</th>
      <th>Image</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="listing_results">
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.user.name %></td>
        <td><%= listing.price %></td>
        <td><%= listing.address %></td>
        <td><%= listing.available_date %></td>
        <td>
        <% listing.listing_images.each do |array| %>
          <%= image_tag(array.image) %>
        <% end %>
        </td>
        <td><%= listing.title %></td>
        <td><%= listing.rental_type %></td>
        <td><%= listing.description %></td>
        <td>
          
          <%= content_tag :button, :class => "favourite_btn" do %> 
            Favourite
            <%= hidden_field_tag(:user_id, @current_user.id, :class => "fave_user_id") %>
            <%= hidden_field_tag(:listing_id, listing.id, :class => "fave_listing_id") %>
          <% end %>
            
        </td>
        <td><%= link_to 'Show', listing %></td>

        <% if @current_user && @current_user.id == listing.user_id %>
          <td><%= link_to 'Edit', edit_user_listing_path(listing.user_id, listing.id) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <script>
  
      </script>
    <% end %>
  </tbody>
</table>
<div id="map"></div>
<style>
#map {
  height: 500px;
  width: 500px;
}
</style>

<br>
<% if @current_user %> 
  <%= link_to 'New Listing', new_user_listing_path(@current_user.id) %>
<% end %> 
