<p id="notice"><%= notice %></p>

<div class="row listings-index">
  <div class="col l7 s12 listings">
    <div class="sub-nav">
      <ul>
        <%= form_tag "/listings/search", id: "filter_form", method: "get" do %>
          <li><%= label_tag(:min_price, "Price Range") %></li>
          <li><%= text_field_tag(:min_price, nil, placeholder: "Min") %></li>
          <li><%= text_field_tag(:max_price, nil, placeholder: "Max") %></li>
      </ul>
    </div>

    <div class="sub-nav">
      <ul>
        <li><%= label_tag(:number_of_bedrooms, "Bedrooms") %></li>
        <li><%= text_field_tag(:number_of_bedrooms) %></li>
        <li><%= label_tag(:rental_type, "Rental Type") %></li>
      </ul>
    </div>

    <div class="sub-nav">
      <ul>
        <li><%= select_tag(:rental_type, options_for_select([["Full Lease"], ["Sublet"], ["Room"]]), {:prompt => 'Select Rental Type'}) %></li>
      </ul>
    </div>

    <div class="sub-nav">
      <ul id="more-filters">
          <li><%= label_tag(:pets) %></li> 
          <li><%= check_box_tag(:pets) %></li>
          <li><%= label_tag(:parking, "Parking") %></li>
          <li><%= check_box_tag(:parking) %></li>
          <li><%= label_tag(:smoking, "Smoking") %></li>
          <li><%= check_box_tag(:smoking) %></li>
          <li><%= label_tag(:furnished, "Furnished") %></li>
          <li><%= check_box_tag(:furnished) %></li>
          <li><%= label_tag(:storage, "Storage") %></li>
          <li><%= check_box_tag(:storage) %></li>

          <% if @current_user %> 
            <button><%= link_to 'New Listing', new_listing_path(@current_user.id) %></button>
          <% end %> 

          <li><%= submit_tag "Apply Filters", :class => "submit" %></li>
          <% if @city %> 
            <%= hidden_field_tag(:city, @city) %> 
          <% end %> 
        <% end %> 
      </ul>
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Address</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="listing_results">
        <% @listings.each do |listing| %>
          <tr data-listing-id="<%=listing.id%>" class="listingDiv">
              <div>
                <td><%= link_to "#{listing.title}", listing_path(listing.id) %></td>
                <td><%= listing.price %></td>
                <td class="address"><%= listing.address %></td>
                <td>
                <% listing.listing_images.each do |array| %>
                  <%= image_tag(array.image) %>
                <% end %>
                </td>

                <td> 
                <% if current_user %> 
                  <%= set_favourite_class(current_user.id, listing.id) %>
                <% end %> 
                </td>
                
                <% if @current_user == listing.user_id %>
                  <td>  <%= link_to 'Edit', edit_listing_path(listing.id) %></td>
                  <td><%= link_to 'Destroy', listing_path(id: listing.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>

              </div>
          </tr>
        
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col l5 s12 map">
    <div id="map" class="fixed"></div>
  </div>
</div>

<br>
