<div class="row">
  <div class="col s12 l6">
    <button class="back"><%= link_to 'Back to Listings', listings_search_path %>
    </button>
    <div class="listing">
    <% @listing.listing_images.each do |listing| %>
      <%= image_tag(listing.image) %>
    <% end %>
        <div class="information col s12" >
          <h3 class="title">
            <%= @listing.title %>
          </h3>
          <h5 class="address">
            <%= @listing.address %>
          </h5>
          <h5 class="user">
            <%= @listing.user.name %>
          </h5>
          <!-- <p class="price">
            $<%= @listing.price %>
          </p> -->
        </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="calendar">
      <li>
        <h3 class="center">Viewing Times</h3>
        <% @listing.bookings.each do |booking| %>
        <a href = "@user">
        <%= booking.date.to_formatted_s(:short) %>
        <%= booking.start_time.to_formatted_s(:time) %>
        <%= booking.end_time.to_formatted_s(:time) %>
        </a><br>
        <% end %>
      </li>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s12 l6">
    <div class="feature">
      <h3 class="center">Features & Amenities</h3>
      <div class="col l12 description">
        <li>
          <div class="description-text"><%= @listing.description %></div>
        </li>
      </div>
      <div class=" col s4">
        <li>
          <div class="name">Square Footage:</div>
          <p><%= @listing.square_footage %>sqft</p>
        </li>
      </div>
        <div class="col s4">
          <li>
            <div class="name">Bedroom(s):</div>
            <p><%= @listing.bedroom %></p>
          </li>
        </div>

        <div class="col s4">
          <li>
            <div class="name">Bathroom(s):</div>
            <p><%= @listing.bathroom %></p>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Furnished:</div>
            <% if @listing.furnished %>
              <p>Yes</p>
            <% else %>
              <p>No</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Pets:</div>
            <!-- <p><%= @listing.pets %></p> -->
            <% if @listing.pets %>
              <p>Allowed</p>
            <% else %>
              <p>Not Allowed</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Smoking:</div>
            <!-- <p><%= @listing.smoking %></p> -->
            <% if @listing.smoking %>
              <p>Yes</p>
            <% else %>
              <p>No</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Floor Number:</div>
            <p><%= @listing.floor_number %></p>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Parking Space:</div>
            <!-- <p><%= @listing.parking_space %></p> -->
            <% if @listing.parking_space %>
              <p>Included</p>
            <% else %>
              <p>Not Included</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Storage Space:</div>
            <!-- <p><%= @listing.storage_space %></p> -->
            <% if @listing.storage_space %>
              <p>Included</p>
            <% else %>
              <p>Not Included</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Balcony:</div>
            <!-- <p><%= @listing.balcony %></p> -->
            <% if @listing.balcony %>
              <p>Yes</p>
            <% else %>
              <p>No</p>
            <% end %>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Available Date:</div>
            <p><%= @listing.available_date %></p>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Minimum Lease:</div>
            <p><%= @listing.minimum_lease %> Months</p>
          </li>
        </div>
        <div class="col s4">
          <li>
            <div class="name">Rental Type:</div>
            <p><%= @listing.rental_type %></p>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="location">
      <div id="map" data-listing-id="<%=@listing.id%>"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
      <h1 class="center">More about the neighbourhood</h1>
      <% (0..7).each do |i| %>
      <div class="col s6 l3">
          <div class="foursquare">
            <div class="foursquare_<%=i%>">
              <a>
                <div class="name"></div>
              </a>
              <div class="rating">
                <div class="ratingnumber"></div>
              </div>
              <div class="address"></div>
              <div class="tips"></div>
            </div>
        </div>
      </div>
      <%end%>
  </div>
</div>
