<div class="row">
  <div class="col s12 l6">
    <button class="back"><%= link_to 'Back to listings', listings_search_path %>
    </button>
    <div class="listing">
    <% @listing.listing_images.each do |listing| %>
      <%= image_tag(listing.image) %>
    <% end %>
        <div class="information col s12" >
          <p class="title">
            <%= @listing.title %>
          </p>
          <p class="user">
            <%= @listing.user.name %>
          </p>
          <!-- <p class="price">
            $<%= @listing.price %>
          </p> -->
        </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="calendar">
      <li>
        <strong>Book a Viewing Time:</strong><br>
        <% @listing.bookings.each do |booking| %>
        <a href = "@user">
        <%= booking.date.to_formatted_s(:short) %>
        <%= booking.start_time.to_formatted_s(:time) %>
        <%= booking.end_time.to_formatted_s(:time) %>
        </a><br>
        <% end %>
      </li>
    </div>
  </div>

</div>

<div class="row">
  <div class="col l6 s12">
    <div class="information">
      <li>
        <strong>Square footage:</strong>
        <%= @listing.square_footage %>
      </li>

      <li>
        <strong>Bedroom:</strong>
        <%= @listing.bedroom %>
      </li>

      <li>
        <strong>Bathroom:</strong>
        <%= @listing.bathroom %>
      </li>

      <li>
        <strong>Address:</strong>
        <span class="address"><%= @listing.address %></span>
      </li>

      <li>
        <strong>Furnished:</strong>
        <%= @listing.furnished %>
      </li>

      <li>
        <strong>Pets:</strong>
        <%= @listing.pets %>
      </li>

      <li>
        <strong>Smoking:</strong>
        <%= @listing.smoking %>
      </li>

      <li>
        <strong>Floor number:</strong>
        <%= @listing.floor_number %>
      </li>

      <li>
        <strong>Parking space:</strong>
        <%= @listing.parking_space %>
      </li>

      <li>
        <strong>Storage space:</strong>
        <%= @listing.storage_space %>
      </li>

      <li>
        <strong>Balcony:</strong>
        <%= @listing.balcony %>
      </li>

      <li>
        <strong>Available date:</strong>
        <%= @listing.available_date %>
      </li>

      <li>
        <strong>Minimum lease:</strong>
        <%= @listing.minimum_lease %>
      </li>

      <li>
        <strong>Image:</strong>
        <%= @listing.image %>
      </li>

      <li>
        <strong>Rental type:</strong>
        <%= @listing.rental_type %>
      </li>

      <li>
        <strong>Description:</strong>
        <%= @listing.description %>
      </li>

    </div>
  </div>

  <div class="col l6 s12">
    <div class="location">
      <div id="map" data-listing-id="<%=@listing.id%>"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="neighbourhood">
      <% (0..3).each do |i| %>
        <div class="foursquare_<%=i%>">
          <div class="name"></div>
          <div class="address"></div>
          <div class="tips"></div>
          <div class="url"></div>
        </div>
      <%end%>
    </div>
  </div>
</div>
