<%= form_for([:user, @booking]) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>
  <div>
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :listing_id %><br>
    <%= f.text_field :listing_id %>
  </div>
  <div class="field">
    <%= f.label :renter_id %><br>
    <%= f.number_field :renter_id %>
  </div>
  <div>
    <%= f.label :user_id %>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
