<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>Renter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.listing %></td>
        <td><%= booking.renter_id %></td>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <td><%= booking.date %></td>
        <td><%= link_to 'Show', user_bookings_path(booking.id) %></td>
        <td><%= link_to 'Edit', edit_user_booking_path(id: booking.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_user_booking_path %>
