<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @booking.listing_id %>
</p>

<p>
  <strong>Renter:</strong>
  <%= @booking.renter_id %>
</p>

<%= link_to 'Edit', edit_user_booking_path(@booking) %> |
<%= link_to 'Back', user_bookings_path %>
