<p id="notice"><%= notice %></p>

<div>
  <%#= link_to 'Back', users_path %> 
</div>

<div class="row">
  
  <div class="col l3">
    <%= image_tag(@user.image.profile) %><br>
    <button><%= link_to 'Edit', edit_user_path(@user) %></button>
    <button><%= link_to 'Contact', sendrequest_user_path %></button>
    <li>
      <strong>Email:</strong>
      <%= @user.email %>
    </li>
    
    <li>
      <strong>Location:</strong>
      <%= @user.location %>
    </li>

    <% if @current_user.id == @user.id %>
      <%= link_to 'Bookings', bookings_path(@user)%>
      <% @user.bookings.each do |booking| %>
        <li><%= booking.date.to_formatted_s(:long) %><%= booking.start_time.to_formatted_s(:time) %> <%= booking.end_time.to_formatted_s(:time)%></li>
      <% end %>
    <% end %>
  </div>

  <div class="col l9">
    <div id="blurb">
      <li><h1><%= @user.name %></h1></li>
      <div>
        <%= @user.blurb %>
      </div>
    </div>
    
    <div id="rental-properties">
      <h2>Rental Properties</h2>
        <% @user.listings.each do |listing| %>
          <li><%= link_to "#{listing.title}", listing_path(id: listing.id, user_id: @user.id) %></li>
          <li><%= listing.address %></li>
        <% end %>
    </div>
  </div>

</div>

