<div>
  <%#= link_to 'Back', users_path %> 
</div>

<div class="row">
  
  <div class="col s12 l3 profile-section">
    <%= image_tag(@user.image.profile) %><br>
    <% if @current_user == @user %>
      <button><%= link_to 'Edit My Profile', edit_user_path(@user) %></button>
    <% else %>
      <button><%= link_to 'Contact', sendrequest_user_path %></button>
    <% end %>
    <ul id="profile-info">
      <li>
        <strong>Email:</strong>
        <%= @user.email %>
      </li>
      
      <li>
        <strong>Location:</strong>
        <%= @user.location %>
      </li>
    </ul>

    <% if @current_user.id == @user.id %>
      <%= link_to 'Bookings', bookings_path(@user)%>
      <% @user.bookings.each do |booking| %>
        <li><%= booking.date.to_formatted_s(:long) %><%= booking.start_time.to_formatted_s(:time) %> <%= booking.end_time.to_formatted_s(:time)%></li>
      <% end %>
    <% end %>
  </div>

  <div class="col l9">
    <div id="blurb">
      <h1><%= @user.name %></h1>
      <div>
        <%= @user.blurb %>
      </div>
    </div>
   
    <% if @current_user && !@user.listings.empty? %>
    <div id="rental-properties">
      <h2>Rental Properties</h2>
        <ul>
          <% @user.listings.each do |listing| %>
            <li>
              <h5><%= link_to "#{listing.title}", listing_path(id: listing.id, user_id: @user.id) %></h5>
              <p><%= listing.address %></p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if @current_user && !@user.favourites.empty? && @current_user == @user%>
      <div id="favourites">
        <h2>My Favourites</h2>
          <ul>
            <% @favourites.each do |favourite| %>
              <li>
                <h5><%= link_to"#{favourite.listing.title}", listing_path(id: favourite.listing.id, user_id: @user.id) %></h5>
                <p><%= favourite.listing.address %></p>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </div>

</div>

