<!DOCTYPE html>
<html>
<head>
  <title>Hom</title>
  <%= javascript_include_tag 'application' %>
   <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>



<nav>
  <div class="container">
    <div class="logo"><a href="/"><%= image_tag("logo.svg", :alt => "Hom Logo") %></a></div>
    <div class="mobile-nav-button">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"><%= image_tag("menu.png", :alt => "Menu") %></span>
      </button>
    </div>
    <!-- <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav atitel-menu-links">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">Contact</a></li>
       </ul>
    </div> -->

    <ul class="desktop-nav">
      <li id="new-listing"><%= link_to "Create New Listing", new_listing_path %></li>
      <li id="search">
        <%= form_tag "/listings/search", method: "get" do %>
        <%= text_field_tag :city, nil, placeholder: 'Find your home...' %>
        <%= submit_tag("Search") %>
        <% end %>
      </li>
      <% if current_user %>
        <li><a href="/users/<%="#{current_user.id}"%>"> Hi, <%= current_user.first_name %>! </a></li>
        <li><%= link_to "Create new Listings", new_listing_path %>
        <li><%= link_to "Bookings", bookings_path %></li>
        <li><%= link_to "Listings", listings_path %></li>
        <li><%= link_to "Logout", sessions_path("current"), method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_sessions_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="mobile-nav">
  <ul>
    <% if current_user %>
      <li> Hi, <%= current_user.first_name %>! </li>
      <li><%= link_to "Bookings", bookings_path %></li>
      <li><%= link_to "Listings", listings_path %></li>
      <li><%= link_to "Logout", sessions_path("current"), method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_sessions_path %></li>
    <% end %>  </ul>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
